<p>persona works!</p>
<h1>Consumiendo datos de una API desde un servicio</h1>
<ul>
    <div *ngFor="let persona of personaList">
        <li>ID: {{persona.id}}</li>
        <li>Nombre: {{persona.nombre}}</li>
        <li>{{persona.apellido}}</li>
        <li>{{persona.sobre_mi}}</li>
        <li>{{persona.url_foto}}</li>
        <li>{{persona.url_foto_fondo}}</li>
        <li>{{persona.ocupacion}}</li>
        <li>{{persona.direccion_fondo}}</li>
        <li>{{persona.nombre_fondo}}</li>
    </div>
</ul>