/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}


/*
.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
}
*/
.form-control input {
    width: 50%;
    height: 30px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
    flex: 1;
}

.form-control-check input {
    flex: 2;
    height: 20px;
}



.btn-block {
    display: block;
    width: 100%;
}
